*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(photo/background1.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.icon{
    font-weight: bold;
    font-size: 40px;
    width: 360px;
    cursor: pointer;
}
ul,li{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;

}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
.content h1{
     font-size: 60px;
     font-weight: 100;
     margin-top: 24px;
     margin-bottom: 15px;
     color: #232d60;
}
.content p{
    font-size: 20px;
    color: #232d60;
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, black, grey);
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,o.15);
}
.feature-img{
    width: 500px;
    height: 50%;
    position: absolute;
    top: 180px;
    bottom: 0;
    right: 320px;
}